<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>crab-walk-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{144,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,96}}</string>
				<key>sourceSize</key>
				<string>{144,96}</string>
			</dict>

			<key>crab-walk-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,291},{144,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,96}}</string>
				<key>sourceSize</key>
				<string>{144,96}</string>
			</dict>

			<key>crab-walk-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{144,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,96}}</string>
				<key>sourceSize</key>
				<string>{144,96}</string>
			</dict>

			<key>crab-walk-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{144,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,96}}</string>
				<key>sourceSize</key>
				<string>{144,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>crab-walk.png</string>
			</dict>
		</dict>
</plist>